/* 
    Created on : Dec 21, 2016, 7:56:50 PM
    Author     : roux
    Здесь просто расписываем цвета, принадлежащие конкретной цветовой схеме
*/

:root {
/*  --color-0: #FFFFFF;
  --color-1: #E6E6E6;
  --color-2: #E1E1E1;
  --color-3: #C8C8C8;
  --color-4: #919191;
  --color-5: #5A5A5A;
  --color-6: #000000;*/
}

body {
    /*--color-4:*/
    border-color: #919191;
}

input[type=text], input[type=password] {
    border-color: #919191;
}

.upper-band {
/*    --color-5:*/
    background-color: #5A5A5A;
    border-bottom-color: #919191;
}

#band-title {
    color: #E6E6E6;
}
#band-title:hover {
    color: #FFFFFF;
}
#band-title:active {
    color: #C8C8C8;
}

.control-pane {
    background-color: #C8C8C8;
    border-bottom-color: #919191;
}

#properties-button {
    background-color: #C8C8C8;
}
#properties-button:hover {
    background-color: #E1E1E1;
}
#properties-button:active {
    background-color: #5A5A5A;
}

.jq-dropdown-menu li {
    color: #919191;
}

.ui-widget-header {
    color: #5A5A5A !important;
    background-color: #C8C8C8 !important;
}
.ui-dialog {
    background-color: #FFFFFF !important;
}

.splitter_bar {
    background-color: #C8C8C8 !important;
}

.color_specimen {
    border-color: #FFFFFF;
}

.treeview span:hover {
    /*color: var(--color-3);*/
    color: #C8C8C8;
}
.treeview span:active {
    /*color: var(--color-4);*/
    color: #919191;
}

.about-dialog {
    border-color: #C8C8C8 !important;
    background-color: #E6E6E6 !important;
}
.about-dialog div {
    color: #919191 !important;
}