<div class="w2ui-page page-0" >
    <div id="color-schema">
        <div style="padding: 6px;">
            <%for(var i = 0; i < color_schemes.length; i++) {
                %><div class="color_specimen"><input type="radio" name="colorScheme" value="<%= color_schemes[i].name %>" 
                <% if(selected_scheme === color_schemes[i].name) {%>checked<%} %>>
                <%for(var j = 0; j < color_schemes[i].colors.length; j++) {%>
                    <span class="color_specimen" style="background-color: <%= color_schemes[i].colors[j] %>"></span><%
                }%>
                </input></div><%
            }%>
        </div>
    </div>
</div>
<div class="w2ui-buttons">
    <button class="w2ui-btn" name="okColorScheme" id="okColorScheme">OK</button>
    <button class="w2ui-btn" name="cancelColorScheme">Отмена</button>
</div>