<div class="w2ui-page page-0">
    <div class="message-text">Выйти из системы?</div>
</div>
<div class="w2ui-buttons">
    <button class="w2ui-btn" name="okExit" id="okExit">OK</button>
    <button class="w2ui-btn" name="cancelExit">Отмена</button>
</div>