<%= recursion(tree) %>

<%function recursion(node) {
    //console.log("recursion node " + JSON.stringify(node));
    var ret = "";
    for(var i = 0; i < node.length; i++) {
        ret = ret + "<li><span ";
        
        if(node[i].action) {
            //console.log("action: " + node[i].action);
            ret = ret + " onClick=\"" + node[i].action + "\" ";
        }

        if(node[i].title) {
            //console.log("title: " + node[i].title);
            ret = ret + "title=\"" + node[i].title + "\" ";
        }

        ret = ret + ">" + node[i].name + "</span>";
        if(node[i].children && node[i].children.length > 0) {
            ret = ret + "<ul>" + recursion(node[i].children) + "</ul>";
        }
        ret = ret + "</li>";
    }
    return ret;
}%>
