/* 
    Created on : Nov 18, 2016, 9:34:49 PM
    Author     : roux
*/
html {
    padding: 0;
    height: 100%;
}
body {
    border-style: solid;
    border-width: 2px;
    height: calc(100% - 4px);
    font-family: Arial,Helvetica,sans-serif;
    margin: 0;
}

button {
    
}

.message-text {
    font-size: 1.4em;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 4px 6px;
    margin: 8px 0;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12pt;
    outline: none;
}

input[type=radio] {
  margin-top: -4px !important;
  vertical-align: middle;
}

label {
    font-size: small;
}

.upper-band {
/*    padding: 8px;*/
    height: 32px;
    line-height: 32px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#band-title {
    margin: 0 24px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    /*user-select: none;*/
    -o-user-select: none;
}

.control-pane {
    width: 100%;
    height: 32px;
    border-bottom-style: solid;
    border-bottom-width:1px;
    display: inline-table;
    vertical-align: middle;
}

.error-message {
    color: #ff0000;
    margin-top: 12px !important;
}

#properties-button {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-image: url(../img/properties-button.png);
    background-position: center;
    background-repeat: no-repeat;
    margin: 4px 4px;
    float: right;
    border-width: 0;
    outline: none;
    opacity: 1;
}
#properties-button:focus {
    outline: none;
}

.jq-dropdown-menu li {
    cursor: pointer;
}
.jq-dropdown-menu li:hover {
    color: black;
}

#log-in-item {
    padding: 12px 12px;
}
.ui-widget-overlay {
    opacity: .5 !important;
}

.splitter_bar {
    /*height: calc(100% - 74px) !important;*/
}
.splitter_container {
    /*border: 1px solid blue;*/
    height: calc(100% - 66px) !important;
}

div.color_specimen {
    margin: 10px 0px;
}

span.color_specimen {
    border-width: 1px;
    border-style: solid;
    padding-left: 43px !important;
    font-size: 16px;
    margin: 6px;
}

.about-dialog {
    background-image: url(image/about.png) !important;
    border-width: 3px !important;
    border-style: solid !important;
}

.about-dialog div {
    position: relative;
    top: 232px;
    left: 0;
    font-size: 1.4em;
}
.about-dialog .ui-dialog-titlebar {
    display: none;
}

.treeview.tree-disabled span:hover {
/*    color: var(--color-3);*/
    cursor: default !important;
}

.treeview.tree-disabled {
    color: #aaaaaa;
}