/* 
    Created on : Nov 25, 2016, 9:26:11 PM
    Author     : roux
*/
.holder {
    border: 1px solid gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 360px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.caption-holder {
    padding: 6px;
    background-color: lightgray;
    border-bottom: 1px solid gray;
}

.fields-container {
    padding: 16px;
}
.buttons-container {
    height: 24px;
    display: inline-block;
    padding: 12px 12px;
}

/*button {
    background-color: #e5e5e5;
    border: 1px solid silver;
    height: 24px;
    width: 180px;
    text-align: center;
    font-size: 12pt;
    float: right;
    color: black;
    padding: auto auto;
    margin: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #c5c5c5;
}*/
.cancelbtn {
    width: 120px;
}

/*input[type=text], input[type=password] {
    width: 100%;
    padding: 4px 6px;
    margin: 8px 0;
    display: inline-block;
    border-top: 1px solid #333;
    border-bottom: 1px solid #777;
    border-left: 1px solid #333;
    border-right: 1px solid #777;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12pt;
}*/

span.psw {
    float: right;
}